.responsive {
    width: 40%;
    height: auto;
}

.img_social_media {
    width: 30%;
    height: auto;
    max-width: 100px;
}

.texto_social_media {
    text-align: left;
}

p {
    font-size: smaller;
}

@media (min-width: 0px) and (max-width: 320px) {
    /* Probably some parent element that limits the img width */
    .responsive {
        width: 40px;
        min-width: 120px;
        height: auto;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    /* Probably some parent element that limits the img width */
    .responsive {
        width: 40%;
        max-width: 150px;
        height: auto;
    }
}

@media (min-width: 500px) {
    /* Probably some parent element that limits the img width */
    .responsive {
        max-width: 300px;
        width: 40%;
        height: auto;
    }
}